Для того чтобы приложение работало,
у пользователя должен быть устновлен python,
библиотека pygame, PyQT5, SQLITE3.
В проекте были дополнительно использованы модули:
import random
import os
import sys
import time
Чтобы открыть программу надо зайти в файл main.py
И запустить программу с компьюторами.
Перед вами откроется первое окно. Введите в него логин и пароль.
Таким образом вы сможете начать игру. Далее щелкните по новому окну.
Вы попадете в основное меню.
Успехов в игре!